.marvel__character {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}
.marvel__character-modal {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: flex-end;
  z-index: 222;
  display: none;
  width: 150vh;
  height: 100vh;
}
.marvel__character-modal-content {
  width: 800px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}
.marvel__character-list h2 {
  text-align: center;
  color: white;
  font-size: 26px;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 20px;
}
.marvel__character-projects {
  display: flex;
  flex-direction: column;
}
.marvel__character-projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.marvel__character-projects li {
  list-style-type: none;
  font-size: 14px;
  max-width: 190px;
  text-align: center;
  color: white;
  padding-top: 10px;
}
.marvel__character-projects ul {
  margin: 0;
  padding: 0;
}
.marvel__character-projects img {
  width: 200px;
  height: 300px;
}
.marvel__character-body {
  background-color: #ff171f;
}
.marvel__character-header {
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.marvel__character-header ul {
  margin: 0;
  padding: 0;
}
.marvel__character-img img {
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.marvel__character-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.marvel__character-content h2 {
  color: white;
  margin: 0;
  font-size: 40px;
}
.marvel__character-content p {
  color: white;
  margin: 0;
  font-size: 33px;
  max-width: 600px;
}
.marvel__open-modal {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.marvel__open-modal img {
  width: 200px;
  height: 400px;
}
.marvel__open-modal-content h2 {
  color: #ff171f;
  font-size: 27px;
  font-weight: 900;
  padding-bottom: 20px;
  margin: 0;
}
.marvel__open-modal-content p {
  max-width: 400px;
  color: #ff171f;
  font-size: 23px;
  margin: 0;
  padding-bottom: 50px;
}
.marvel__open-modal-content a {
  border: 1px solid #ff171f;
  background: #ff171f;
  padding: 8px 10px;
  border-radius: 70px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.marvel__open-modal-content a:hover {
  transition: 0.6s ease;
  background-color: #fff;
  color: #ff171f;
}
.marvel__modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 222;
  display: none;
}
.marvel__modal-content {
  width: 800px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}
.marvel-container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}
.marvel__content-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.marvel__card-btn {
  padding: 10px;
  border: #ff171f 1px solid;
  background-color: white;
}
.marvel__card-content h2 {
  padding-top: 10px;
  font-weight: 700;
  color: #ff171f;
  font-size: 13px;
  max-width: 150px;
}
.marvel__card-img img {
  width: 150px;
  height: 150px;
}
.marvel__form-search {
  display: flex;
  justify-content: center;
}
.marvel__form-search .marvel__seach-btn {
  display: none;
}
.marvel__form-search .marvel__input-seach {
  border: 0;
  padding: 10px;
  font-size: 19px;
  text-align: center;
  background-color: #ff171f;
  color: black;
  margin: 30px;
}
.marvel__form-search .marvel__input-seach:visited {
  border-radius: 100px;
}
.marvel__form-search .marvel__input-seach:focus-visible {
  transition: 1s ease;
  outline: 0;
  background-color: white;
  border-radius: 100px;
}
.marvel__body {
  font-family: "Oswald", sans-serif;
  background-color: #ff171f;
}
.marvel__logo-wrapper {
  text-align: center;
}
.marvel__logo-wrapper img {
  width: 40%;
}

.show {
  display: flex;
}

.marvel__modal-btn-wrapper {
  text-align: end;
  padding: 10px;
}

/* * {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}
.marvel-body {
  background-color: #ff171f;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 600px;
}
.marvel {
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  background: white;
}

.marvel-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 15px;
  justify-content: center;
}
.marvel-img img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: scale-down;
}

.marvel-content {
  width: 150px;
}

.marvel-name {
  display: table;
  font-size: 17px;
  color: red;
  margin: 0 auto;
}

.seach-btn {
  display: none;
}

.input-seach {
  border: 0;
  padding: 10px;
  font-size: 19px;
  text-align: center;
  background-color: #ff171f;
  color: white;
  margin: 30px;
}

.input-seach:focus-visible {
  outline: 0;
}

.form-search {
  display: flex;
  justify-content: center;
}

.disney-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
}

.disney-logo-wrapper img {
  width: 600px;
}

.disney-body {
  background: #4dbdff;
}

.disnay-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 15px;
  justify-content: center;
}

.disney {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  width: 235px;
  height: 280px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  background: black;
}

.disney-name {
  display: table;
  font-size: 17px;
  color: #4dbdff;
  margin: 0 auto;
}
.disney-img {
  width: 150px;
  height: 200px;
}

.disney-img img {
  width: 150px;
  height: 200px;
  border-radius: 20px;
  object-fit: revert;
}

.disney-content {
  min-width: 150px;
  padding: 15px;
}

.disney-search {
  background: #4dbdff;
}

.my-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 222;
  display: none;
}

.show {
  display: flex;
}

.my-modal-content {
  width: 700px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}

button {
  outline: 0;
  border: 0;
}

.marvel__modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marvel__modal-name {
  font-size: 16px;
  margin: 0;
}

.marvel__modal-description {
  font-size: 15px;
}

.marvel__modal-content {
  max-width: 400px;
}

.marvel-modal-comics {
  margin: 0;
  padding: 0;
  display: none;
}
.marvel-modal-comics li {
  list-style-type: none;
  font-size: 14px;
}

.modal-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.comics-name p {
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

.comics-name {
  display: flex;
}

.show-modal {
  display: block;
}

.show-modal .more-icon {
  transform: rotateY(180deg);
}

.dota-container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.dota-container img {
  width: 256px;
  height: 144px;
}

.dota-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  padding-bottom: 30px;
}

.dota-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.dota-wrapper img {
  width: 600px;
} *//*# sourceMappingURL=main.css.map */