* {
  box-sizing: border-box;
}
.marvel-body {
  background-color: #ff171f;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 600px;
}
.marvel {
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  background: white;
}

.marvel-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 15px;
  justify-content: center;
}
.marvel-img img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: scale-down;
}

.marvel-content {
  width: 150px;
}

.marvel-name {
  display: table;
  font-size: 17px;
  color: red;
  margin: 0 auto;
}

.seach-btn {
  display: none;
}

.input-seach {
  border: 0;
  padding: 10px;
  font-size: 19px;
  text-align: center;
  background-color: #ff171f;
  color: white;
  margin: 30px;
}

.input-seach:focus-visible {
  outline: 0;
}

.form-search {
  display: flex;
  justify-content: center;
}

.disney-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
}

.disney-logo-wrapper img {
  width: 600px;
}

.disney-body {
  background: #4dbdff;
}

.disnay-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 15px;
  justify-content: center;
}

.disney {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  width: 235px;
  height: 280px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  background: black;
}

.disney-name {
  display: table;
  font-size: 17px;
  color: #4dbdff;
  margin: 0 auto;
}
.disney-img {
  width: 150px;
  height: 200px;
}

.disney-img img {
  width: 150px;
  height: 200px;
  border-radius: 20px;
  object-fit: revert;
}

.disney-content {
  min-width: 150px;
  padding: 15px;
}

.disney-search {
  background: #4dbdff;
}

.my-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 222;
  display: none;
}

.show {
  display: flex;
}

.my-modal-content {
  width: 700px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}

button {
  outline: 0;
  border: 0;
}

.marvel__modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marvel__modal-name {
  font-size: 16px;
  margin: 0;
}

.marvel__modal-description {
  font-size: 15px;
}

.marvel__modal-content {
  max-width: 400px;
}

.marvel-modal-comics {
  margin: 0;
  padding: 0;
  display: none;
}
.marvel-modal-comics li {
  list-style-type: none;
  font-size: 14px;
}

.modal-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.comics-name p {
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

.comics-name {
  display: flex;
}

.show-modal {
  display: block;
}

.show-modal .more-icon {
  transform: rotateY(180deg);
}

.dota-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.dota-container img {
  width: 256px;
  height: 144px;
}
